*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 78.125em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 71.875em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 65.625em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 52.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 32.125em) {
    html {
      font-size: 48%; } }
  @media only screen and (max-width: 29.2875em) {
    html {
      font-size: 46%; } }
  @media only screen and (max-width: 25.125em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 22.5em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  background-color: #f1f6f9;
  overflow-x: hidden;
  max-width: 100%; }

::-webkit-scrollbar {
  width: 10px; }
  ::-webkit-scrollbar-track {
    background-color: #3f5885;
    box-shadow: inset 0 0 5px grey; }
  ::-webkit-scrollbar-thumb {
    background: #eeaa81;
    border-radius: 10px; }
    ::-webkit-scrollbar-thumb:hover {
      background: #f4c8ad;
      border-radius: 10px; }

.navbar {
  background-color: #374d74;
  transition: all 0.5s ease-in-out; }
  .navbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem; }
  .navbar__list {
    font-size: 2.2rem;
    text-decoration: none;
    color: #f1f6f9;
    margin: 0 3.5rem; }
    .navbar__list:hover {
      transform: skewY(0.5deg) skewX(5deg) scale(1.1);
      color: #feb764; }
    .navbar__list:focus {
      outline: none; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/nasa.JPEG");
  height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 52.25em) {
    .header {
      height: 80vh; } }
  .header__text-box {
    max-width: 120rem; }
    @media only screen and (max-width: 43.75em) {
      .header__text-box {
        margin: 0 8rem; } }
    @media only screen and (max-width: 32.125em) {
      .header__text-box {
        margin: 0 5rem; } }
    @media only screen and (max-width: 29.2875em) {
      .header__text-box {
        margin: 0 2rem; } }
    @media only screen and (max-width: 25.125em) {
      .header__text-box {
        margin: 0 1rem; } }
  .header__text-box .header__text {
    color: #f1f6f9;
    letter-spacing: 0.2rem;
    font-weight: 300; }
  .header__text-main {
    font-size: 5rem;
    animation-name: moveInLeft;
    animation-duration: 1.3s;
    animation-timing-function: ease-out; }
  .header__text-sub {
    font-size: 4rem;
    margin-bottom: 4rem;
    animation-name: moveInRight;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    transition: all 0.5s ease-in-out; }
    @media only screen and (max-width: 32.125em) {
      .header__text-sub {
        animation: none; } }
  .header__text-bold {
    font-family: "Open Sans Condensed", sans-serif;
    color: #f1b997;
    font-weight: 700;
    font-size: 5.4rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    transition: all 0.5s ease-in-out; }
    @media only screen and (max-width: 32.125em) {
      .header__text-bold {
        animation: none; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  40% {
    opacity: 0; }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px); }
  40% {
    transform: translateY(-10px); }
  80% {
    transform: translateY(5px); }
  100% {
    transform: translate(0); } }

.section {
  font-size: 2rem;
  background-color: #f1f6f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section__title {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: #f1b997;
    margin-top: 5rem;
    text-align: center; }
  .section__underline {
    line-height: 0.5rem;
    width: 6rem;
    border: 1px solid #f1b997; }

.about__container {
  background-color: #3d6994;
  padding-top: 10rem; }

.about__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  max-width: 120rem; }
  @media only screen and (max-width: 65.625em) {
    .about__wrap {
      flex-direction: column-reverse; } }
  .about__wrap .about__image {
    align-self: end; }
    .about__wrap .about__image .hi-image {
      width: 30rem; }
      @media only screen and (max-width: 43.75em) {
        .about__wrap .about__image .hi-image {
          width: 40%;
          margin-left: 5rem; } }
  .about__wrap .about__content {
    font-size: 2.2rem;
    margin-right: 3rem;
    letter-spacing: 0.1rem; }
    @media only screen and (max-width: 32.125em) {
      .about__wrap .about__content {
        font-size: 2.1rem; } }
    @media only screen and (max-width: 29.2875em) {
      .about__wrap .about__content {
        font-size: 2rem; } }
    .about__wrap .about__content code {
      font-family: "Ubuntu Mono", monospace; }
      @media only screen and (max-width: 660px) {
        .about__wrap .about__content code {
          font-family: "Ubuntu", sans-serif; } }

.about .about__p {
  margin: 3rem;
  font-size: 2.5rem;
  color: #f1f6f9;
  font-style: italic;
  font-weight: 400;
  font-style: italic; }

.about__meCode {
  color: #f1f6f9; }

.about .value {
  color: #f9e0d1; }

.about__link {
  color: #f9e0d1;
  text-decoration: none; }
  .about__link:hover {
    color: #f1b997; }

.skills__container {
  background-color: #406e9b;
  z-index: 5; }

.skills__wrap {
  margin: 5rem;
  width: 90vw;
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
  grid-template-areas: 'front front front front front' 'html css javascript jquery react' ' sass rwd flexbox grid bootstrap' ' back back back back back' ' nodejs express linux vm mysql' 'others others others others others' 'git npm vscode figma seo' 'github ga . . .'; }
  .skills__wrap .front,
  .skills__wrap .back,
  .skills__wrap .others {
    background-color: rgba(55, 77, 116, 0.7);
    font-weight: 500;
    font-size: 2.5rem; }
  .skills__wrap .front {
    grid-area: front; }
  .skills__wrap .html {
    grid-area: html; }
  .skills__wrap .css {
    grid-area: css; }
  .skills__wrap .javascript {
    grid-area: javascript; }
  .skills__wrap .bootstrap {
    grid-area: bootstrap; }
  .skills__wrap .rwd {
    grid-area: rwd; }
  .skills__wrap .flexbox {
    grid-area: flexbox; }
  .skills__wrap .grid {
    grid-area: grid; }
  .skills__wrap .jquery {
    grid-area: jquery; }
  .skills__wrap .sass {
    grid-area: sass; }
  .skills__wrap .react {
    grid-area: react; }
  .skills__wrap .back {
    grid-area: back; }
  .skills__wrap .npm {
    grid-area: npm; }
  .skills__wrap .linux {
    grid-area: linux; }
  .skills__wrap .nodejs {
    grid-area: nodejs; }
  .skills__wrap .mysql {
    grid-area: mysql; }
  .skills__wrap .vm {
    grid-area: vm; }
  .skills__wrap .others {
    grid-area: others; }
  .skills__wrap .git {
    grid-area: git; }
  .skills__wrap .uiux {
    grid-area: uiux; }
  .skills__wrap .figma {
    grid-area: figma; }
  .skills__wrap .vscode {
    grid-area: vscode; }
  .skills__wrap .seo {
    grid-area: seo; }
  .skills__wrap .ga {
    grid-area: ga; }
  .skills__wrap .express {
    grid-area: express; }
  .skills__wrap .githun {
    grid-area: github; }

.skills__list-items {
  padding: 0.8rem;
  font-size: 2rem;
  background-color: rgba(55, 77, 116, 0.3);
  border-radius: 5px;
  text-align: center;
  color: #f1f6f9; }
  @media only screen and (max-width: 25.125em) {
    .skills__list-items {
      font-size: 1.6rem; } }

.projects__container {
  background-color: #3d6994;
  padding: 5rem; }
  .projects__container .section__underline {
    margin: 0 auto; }

.projects__wrap {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  margin: 5rem auto; }

.projects .project__item {
  color: #f1f6f9; }
  .projects .project__item .view-button {
    border: none;
    background-color: transparent;
    border: 1px #f1f6f9 solid;
    padding: 0.5rem;
    color: #f1f6f9;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 1.5rem; }
    .projects .project__item .view-button:hover {
      color: #feb764;
      border: #feb764 1px solid; }
  .projects .project__item .project__title {
    font-size: 2.5rem; }

.projects .project {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3); }

.projects .project__info {
  font-size: 2.5rem;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.2s ease-in;
  background: linear-gradient(#374d74 20%);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.projects .project:hover .project__info {
  transform: translateY(0); }

.projects .project img {
  width: 100%;
  height: 100%; }

.contact address {
  all: initial; }

.contact__container {
  padding-top: 6rem;
  background-color: #406e9b; }

.contact .section__underline {
  margin: 0 auto;
  text-align: center; }

.contact__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem auto; }

.contact__item {
  text-decoration: none;
  color: #feb764;
  font-size: 2rem;
  padding: 0.3rem 0; }
  .contact__item:hover {
    color: #f1f6f9; }

.contact .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 7rem; }
  .contact .form ::placeholder {
    font-family: "Ubuntu", sans-serif;
    color: rgba(55, 77, 116, 0.5); }
  .contact .form__comment {
    resize: none;
    min-height: 15rem;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem auto;
    border: none;
    background-color: #e6eff4;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3); }
    .contact .form__comment:focus {
      outline: none; }
  .contact .form__row1 {
    display: flex;
    margin-bottom: 1rem; }
    .contact .form__row1 .form__name {
      flex: 1 1 50%;
      margin-right: 1rem; }
    .contact .form__row1 .form__email {
      flex: 1 1 50%; }
  .contact .form__name, .contact .form__email, .contact .form__subject {
    background-color: #e6eff4;
    height: 3rem;
    border-radius: 5px;
    padding: 1rem;
    border: none;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3); }
    .contact .form__name:focus, .contact .form__email:focus, .contact .form__subject:focus {
      outline: none; }
  .contact .form__btn {
    background-color: transparent;
    border: 2px solid #f1b997;
    color: #f1b997;
    font-weight: 500;
    width: 50%;
    padding: 1rem;
    margin: 2.5rem auto;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3); }
    .contact .form__btn:hover {
      background-color: #f1b997;
      color: #374d74; }

.footer {
  font-size: 2rem;
  width: 100%;
  color: #f1f6f9;
  text-align: center;
  padding: 1rem;
  background-color: #374d74;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }
